body {
    font-family: Arial, sans-serif;
    background-color: #e4e8f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#chat-container {
    border-radius: 15px;
    height: 600px;
    width: 380px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    position: relative;
    padding: 10px;
    box-shadow: 4px 4px 10px #afafaf;
}


.form{
    position: absolute;
    width: calc(100% - 20px);
    bottom: 10px;
    border-radius: 999px;
    background-color: #e4e8f1;
    display: flex;
    justify-content: space-between;
}


#input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    outline: 0px;
}


button {
    border-radius: 50%;
    border: none;
    background-color: #7368f4;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

button:hover{
    background-color: #5a4aff;
}



/* s */

p{
    font-size: 13px;
    margin-bottom: 30px;
}

.user-title{
    background-color: #5a4aff;
    padding: 5px 10px;
    width: 20px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}

.bot-title{
    background-color: #808080;
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
}